@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

img{
    margin-left: 0;
    margin-right: 1rem;
}

.video__container-info{
    display: flex;
    flex-direction: row;
    border-top: .125rem solid $secondaryMercury;
    border-bottom: .125rem solid $secondaryMercury;
    margin: 0 $margin-mobile;
    columns: 2;
    justify-content: space-between;

    @include tablet{
        margin: 0 $margin-tablet;
        border-top: none;
   
    }
}

.video__channel{
    font-weight: 600;
    padding:  $padding-mobile 0 ;
}

.video__timestamp, .video__views, .video__likes {
    color: $primarySilver;
    padding: $padding-mobile 0;
    align-items: center;
}

.video__timestamp, .video__likes {
    padding-top: 0;
    @include tablet{
    padding: $padding-mobile 0;
}
}


.video__container-orientation {
display: flex;
flex-direction: column;

    @include tablet{
        flex-direction: row;
        gap: 1rem;
}
}

.video__description{
    @include tablet{
        padding: $padding-mobile $padding-tablet;
    }
}