@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

* {
  box-sizing: border-box;
}

form {
  box-sizing: border-box;
  padding: $padding-mobile;
  margin: $margin-mobile;
  padding-left: 0;
  margin-left: 0;


  @include tablet {
    margin: $margin-tablet;
    padding: 0 $padding-mobile;
    // margin-left: 0;
  }
}

.uploadpage {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-top: 0.125rem solid $secondaryMercury;
  padding: 0;
}

.uploadpage__header {
  margin-top: 0 $margin-mobile;

  @include tablet {
    margin: 0 $margin-tablet;
    padding: $padding-tablet 0;
    border-bottom: .125rem solid $secondaryMercury;
  }
}

.uploadpage__subheader {
  color: $primarySilver;

  @include tablet {
    padding-top: $padding-tablet;
    // border-top: .125rem solid $secondaryMercury;
  }
}
