@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

* {
  box-sizing: border-box;
}


.uploadpage {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-top: 0.125rem solid $secondaryMercury;
  padding: 0;
}

.uploadpage__header {
  margin-top: 0 $margin-mobile;

  @include tablet {
    margin: 0 $margin-tablet;
    padding: $padding-tablet 0;
    border-bottom: .125rem solid $secondaryMercury;
  }
}



