@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header__upload{
    margin: $margin-mobile;
    background-color: $primaryBlue;
    color: $primaryWhite;
    border-radius: .25rem;
    font-weight: 600;
    display: flex;
    justify-content: center;  
    align-items: center; 
    margin: $margin-mobile;
    @include tablet {
        margin: $margin-tablet;
    }
}

.header__upload-icon {
    padding: .25rem;
  }

.header__upload-text {
    flex-grow: 1;          
    text-align: center; 
}