$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primaryBlack: #323232;
$primaryBlue: #0095FF; 
$primarySilver: #AFAFAF; 
$primaryWhite: #FFFF;

$secondaryDarkBlack: #000000;
$secondaryDarkBlue: #0065AD;
$secondaryMercury: #E1E1E1;
$secondaryAlabaster: #FAFAFA;

$padding-mobile: 1rem; //16px
$padding-tablet: 2.25rem; //36px

$margin-mobile: 1rem; //16px
$margin-tablet: 2.25rem; //36px