@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.commentform{
    display: flex;
    flex-direction: row;


&__profile{
    object-fit: cover;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    margin: $margin-mobile;
    margin-right: 0;
 
    @include tablet{
     height: 2.5rem;
     width: 2.5rem;
     margin-left: $margin-tablet;
    }
}

&__layout{
    display: flex;
    flex-direction: column;
    padding: 0 $padding-mobile;
    width: 100%;
    @include tablet{
        padding: 0 $padding-tablet;
        margin-bottom: 0;
    }
}


&__label {
    padding: 0;
    color: $primarySilver;
    
}


&__input {
    margin: $margin-mobile 0;
    padding: .5rem;
    background-color: $secondaryAlabaster;
    border: .125rem solid $secondaryMercury;
    border-radius: .25rem;
    color: $primaryBlack;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    resize: none;

    &--active {
        border-color: $primaryBlue; 
      &--filled {
        border-color: $secondaryMercury; // Optionally, remove border when filled
      }
    
      &--error {
        border-color: red;
      }
    }
}

&__button{
    margin-bottom: $margin-mobile;
    background-color: $primaryBlue;
    color: $primaryWhite;
    border-radius: .25rem;
    font-weight: 600;
    display: flex;
    justify-content: center;  
    align-items: center; 
    justify-content: space-between;
    border: none;
    padding: 0;
   
}


&__icon{
    padding: 1rem;
}

&__text {
    flex-grow: 1;          
    text-align: center; 
    color: $primaryWhite;
}
}