@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header__logo {
  display: flex;
  background: $primaryWhite;
  height: 1.5625rem; //25px
  width: 7.5rem; //120px
  margin: $margin-mobile auto;
  align-items: center;
  justify-content: center;
  margin-top: $margin-mobile;

  @include tablet{
  margin: $margin-tablet;


  }
}
