@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

form {
  box-sizing: border-box;
  padding: $padding-mobile;
  margin: $margin-mobile;
  padding-left: 0;
  margin-left: 0;

  @include tablet {
    margin: $margin-tablet;
    padding: 0 $padding-mobile;
    // margin-left: 0;
  }
}

.uploadpage__layout {
  @include desktop {
    display: flex;
    flex-grow: 1;
  }
}

.uploadpage__layout-container {
  @include desktop {
    width: 50%;
  }
}

.uploadpage__subheader {
  color: $primarySilver;

  @include tablet {
    padding-top: $padding-tablet;
  }
}

.uploadpage__form {
  box-sizing: border-box;
  padding: 0;

  @include tablet {
    margin-left: $margin-mobile;
  }
}

.uploadpage__subheader-form {
  color: $primarySilver;
  padding-bottom: 0;

  @include tablet {
    padding-left: $padding-mobile;
  }
}

.uploadpage__title,
.uploadpage__description {
  box-sizing: border-box;
  width: 100%;
  margin: $margin-mobile;
  padding-right: $padding-mobile;
}

.uploadpage__title-entry,
.uploadpage__description-entry {
  display: flex;
  box-sizing: border-box;
  padding: 0.5rem;
  background-color: $secondaryAlabaster;
  border: 0.125rem solid $secondaryMercury;
  border-radius: 0.25rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: $primaryBlack;
  width: 100%;
}

.uploadpage__description-entry {
  resize: none;

  @include tablet {
    margin-bottom: $padding-tablet;
  }
}

.uploadpage__button-publish {
  background-color: $primaryBlue;
  box-sizing: border-box;
  border-radius: 0.25rem;
  color: $primaryWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;

  @include tablet {
    // margin-right: $margin-tablet;
    width: 15rem;
  }
}

.upload_button-text {
  flex-grow: 1;
  text-align: center;
  color: $primaryWhite;
  font-weight: 600;
  padding: 1rem;
  margin-right: 2.5rem;
}

.uploadpage__button-cancel {
  background-color: $primaryWhite;
  border-radius: 0.25rem;
  color: $primaryBlue;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $padding-mobile;
  border: none;
  width: 100%;

  @include tablet {
    width: 15rem;
  }
}

.uploadpage__button {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin: $margin-mobile;
    border-top: 2px solid $secondaryMercury;
    padding-top: $padding-mobile;
  }
}

.uploadpage__button-layout {
  margin: $margin-mobile;
  margin-right: 0;

  @include tablet {
    display: flex;
    margin: $margin-mobile;
    // margin: $margin-tablet;
  }
}

.uploadvideo__thumbnail {
  width: 100%;
  padding: 0 $padding-mobile;
  display: block;
  box-sizing: border-box;

  @include tablet {
    padding: 0 $padding-tablet;
    width: 50vw;
  }
}
