@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

video{
    width: 100%;
}

.video__container{
    padding: $padding-mobile;

    @include tablet{
        padding: $padding-tablet;
    }
}
