@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

video{
    width: 100%;
  
}

.video__container{
    box-sizing: border-box;
    
    @include tablet{
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;

        background-color: black;
    }
    @include desktop{
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

