@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

video{
    width: 100%;
  
}

.video__container{
    @include tablet{
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;

        background-color: black;
    }
}

