@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

//combine classes before submitting 

.header__search{
    display: flex;
    justify-content: space-between;
    // margin: $margin-mobile;

//     @include tablet {
//         margin: $margin-tablet;
//     }
}

.header__search-box {
    display: flex;
    flex-direction: row;
    border: .125rem solid $primarySilver;
    border-radius: .25rem;
    width: 100%;
    vertical-align: middle;
    padding: $padding-mobile;
    margin: $margin-mobile;
    margin-bottom: 0;
    @include tablet{
        margin-bottom: $margin-mobile;
    }
    
}
.header__search-icon{
    width: .875rem;
    margin: .25rem;
    //increase for tablet & dt
}

.header__search-text{
    font-size: .875rem; //same as icon
    border: none;
}

.header__search-text:focus { 
    outline: none; 
} 

.header__search-profile {
   object-fit: cover;
   height: 2.5rem;
   width: 2.5rem;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;

   @include tablet{
    display: none;
   }
}

.header__search-profileposition{
    display: flex;
    justify-content: center;
    align-items: center;
}